<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
    <title>Register page</title>
</head>
<body>
    <div class="ui raised very padded center aligned text container segment">
  <h1 class="ui header">Register</h1>
  <br>
      <form action="/register" method="post">
  <div class="field">
   <div class="ui left icon input">
  <i class="book outline icon"></i>
    <input type="text" name="username" placeholder="Username" autofocus="true" required>
  </div></div>
<br>
    <div class="field">
  <div class="ui left icon input">
<i class="lock icon"></i>
    <input type="password" name="password1" placeholder="Password" required>
  </div></div>
<br>
          <div class="field">
  <div class="ui left icon input">
<i class="lock icon"></i>
    <input type="password" name="password2" placeholder="Password" required>
  </div></div>
<br>
<!-- Conditionally render the error message -->
  {% if error!="none" %}
  <p class="error" style="color: red;">{{ error }}</p>
  {% endif %}
  <div class="actions">
    <button class=" ui large teal button" type="submit">Register</button>
  </div>
        </form>
  <br>
  <p>Already have an account? <a href="/login"> Login </a>
</div>
</body>
</html>